<!DOCTYPE html>
<html lang="en">
    <title>Image Repo</title>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/main.css">
        <script src="https://kit.fontawesome.com/7ad1a6f6af.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <h1>My Image Repo</h1>
            <p>Upload images to save them. Click an image to view in full size or press 'x' to delete</p>

            <hr>
            <p>Select images to upload:</p>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="image" id="image">
                <input type="submit" value="Upload Image" name="submit">
            </form>
            <br>

            {% with messages = get_flashed_messages() %}
	            {% if messages %}
	                {% for message in messages %}
		                <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			                {{message}}
		                </div>
		            {% endfor %}
	            {% endif %}
            {% endwith %}
            
            <hr>
            {% for img in imgs %}
                <span class="img_container">
                    <a href=/static/imgs/{{img}}><img src='/static/imgs/{{img}}' width=100 height=100/></a>
                    <a class="delete" href="{{url_for('delete', filename=img)}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </span>
            {% endfor %}        
        
        </div>

        
    </body>